.indicator div {
    font-weight: 700;
    font-size: 11px;
    pointer-events: none;
}

.notification {
    margin: rem(10px) 0;
    transition: 0.3s ease opacity;

    @mixin hover {
        opacity: 1 !important;
    }
}

.link {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    opacity: 0.6;

    @mixin hover {
        opacity: 0.9;
        text-decoration: underline;
    }
}