.indicator div {
    font-weight: 700;
    font-size: 11px;
    pointer-events: none;
}

.notification {
    margin: rem(5px) 0;

    @mixin hover {
        opacity: 1 !important;
    }
}

.link {
    color: var(--mantine-color-white);
    opacity: 0.4;

    @mixin hover {
        opacity: 0.7;
        text-decoration: underline;
    }
}