.card {
    transition: 0.3s ease all;
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-body)) !important;

    @mixin hover {
        border: 1px solid light-dark(var(--mantine-color-gray-4), var(--mantine-color-gray-7));
    }
}
