.item {
    transition: 0.3s ease color, 0.3s ease background-color;
    padding: 6px 10px 7px 10px;
    border-radius: var(--mantine-radius-md);
    cursor: pointer;

    @mixin hover {
        color: light-dark(var(--mantine-color-dark-4), var(--mantine-color-white));
        background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-gray-9));
    }
}

.comment {
    font-size: rem(14);
    line-height: rem(14);

    p {
        margin: 0;
    }
}