.link {
    text-decoration: none;
}

.card {
    transition: 0.3s ease all;

    @mixin hover {
        border: 1px solid light-dark(var(--mantine-color-gray-4), var(--mantine-color-gray-7));

        .title {
            color: var(--mantine-color-blue-5);
        }
    }
}

.title {
    color: var(--mantine-color-blue-6);
    transition: 0.2s ease all;
}
